# Mode choice Model

In [1]:
#Importing some library
import random
import numpy as np
import warnings
from matplotlib import pyplot as plt
%matplotlib inline
warnings.filterwarnings('ignore')
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from math import exp
plt.rcParams["figure.figsize"] = (10, 6)
from sklearn import datasets
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.decomposition import PCA
from sklearn.metrics import mean_squared_error

In [2]:
#import data
df=pd.read_csv('replica-telework_dc-10_26_22-trips_dataset.csv')
df.head()

,activity_id,primary_mode,trip_duration_minutes,trip_distance_miles,trip_taker_wfh,trip_taker_commute_mode,trip_taker_household_size,trip_taker_household_income
0,17570944395902961585,private_auto,38,12.4,in_person,private_auto,4,85254
1,8842227793416712896,private_auto,145,26.1,in_person,private_auto,2,413820
2,4595341411345992267,carpool,89,18.9,unemployed_under_16_not_in_labor_force,other_travel_mode,5,280814
3,5018335850175263529,private_auto,35,11.3,in_person,private_auto,6,86848
4,10844037359882971686,private_auto,39,11.3,remote,\N,2,62918

In [ ]:
#sns.heatmap(df.isnull())
# we can drop the 'trip_taker_commute_mode ' and 'trip_taker_wfh ' for now
df.drop(columns = 'trip_taker_wfh', inplace=True)
df.drop(columns = 'trip_taker_commute_mode', inplace=True)

In [ ]:
# we can drop the first column as it is just the index
df.drop(columns = 'activity_id', inplace=True)

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.trip_taker_commute_mode.unique()

In [ ]:
df['trip_taker_commute_mode'].mask(df['trip_taker_commute_mode'] == 'private_auto', 0, inplace=True)
df['trip_taker_commute_mode'].mask(df['trip_taker_commute_mode'] == 'other_travel_mode', 1, inplace=True)
df['trip_taker_commute_mode'].mask(df['trip_taker_commute_mode'] == 'biking', 2, inplace=True)
df['trip_taker_commute_mode'].mask(df['trip_taker_commute_mode'] == 'carpool', 3, inplace=True)
df['trip_taker_commute_mode'].mask(df['trip_taker_commute_mode'] == 'ON_DEMAND_AUTO', 4, inplace=True)
df['trip_taker_commute_mode'].mask(df['trip_taker_commute_mode'] == 'public_transit', 5, inplace=True)
df['trip_taker_commute_mode'].mask(df['trip_taker_commute_mode'] == 'walking', 6, inplace=True)
df['trip_taker_commute_mode'].mask(df['trip_taker_commute_mode'] == '\\N', 1, inplace=True)

In [ ]:
df['trip_taker_commute_mode'] = df['trip_taker_commute_mode'].astype(int)

In [ ]:
df.trip_taker_household_size.unique()

In [ ]:
df['trip_taker_household_size'].mask(df['trip_taker_household_size'] == '\\N', 0, inplace=True)

In [ ]:
df.trip_taker_household_size.unique()

In [ ]:
df['trip_taker_household_size'] = df['trip_taker_household_size'].astype(int)

In [ ]:
df.trip_taker_household_income.unique()

In [ ]:
df['trip_taker_household_income'].mask(df['trip_taker_household_income'] == '\\N', 0, inplace=True)

In [ ]:
df['trip_taker_household_income'] = df['trip_taker_household_income'].astype(int)

In [ ]:
df.info()

In [ ]:
X=pd.DataFrame(df,columns=['trip_duration_minutes', 'trip_distance_miles', 'trip_taker_household_size', 'trip_taker_household_income'])             
y=pd.DataFrame(df,columns=['trip_taker_commute_mode'])

In [ ]:
#load all necessary libraries
import pandas as pd 
import numpy as np 
import scipy as scp
import sklearn

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn import metrics 
from sklearn.metrics import confusion_matrix


import statsmodels.api as sm
import matplotlib.pyplot as plt

In [ ]:
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size = 0.20, random_state = 5)

In [ ]:
#Use statsmodels to assess variables

logit_model=sm.MNLogit(y_train,sm.add_constant(X_train))
logit_model
result=logit_model.fit_regularized()

In [ ]:
stats1=result.summary()

print(stats1)